{
  "presets": ["next/babel"],
  "plugins": [
    "@emotion",
    [ 
      "module-resolver", {
        "root" : [ "." ],
        "alias": {
          "context": ["context"],
          "pages": ["pages"],
          "ui": ["ui"],
          "views": ["views"]
        }
      } 
    ]
  ]
}
